body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.jumbotron {
  
  margin-bottom: 0
}

.container {
  margin-left: 50px;
}

.header {
  text-align: center;
}

.TabHeading {
    padding-left: 30px;
}
