body {
  padding: 100px;
  padding-top: 200px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.container {
  max-width: 500px;
  background-color: #eeeeee;
 
}

.header {
  text-align: center;
}

.container2 {
  background-color: #eeeeee;
}

.ng-invalid.ng-dirty{
  border-color:red;
}

.ng-valid.ng-dirty{
  border-color:green;
}

.user-form{
  border-radius: 10px;
  max-width: 32%;
  float: none;
  margin: 0 auto
}

.col-md-4.custom{
   float: none;
    margin: 0 auto;
}

